
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header{
    .navbar{
        padding-left: 3.45vw;
        padding-top: .75vh;
        height: 13.2vh;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4vw;
        ul{
            list-style: none;
            display: flex;
            gap: 3vw;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}
// Navbar end---------------------------------------------------------------------------

// content--------------------------------------------------------------------------------


#content{
    background-color: rgb(240, 240, 240);
    #hero{
        height: auto;
        width: 100%;
        padding-top: 5vh;
        .hero{
            padding-left: 4.5vw;
            height: 100vh;
            width: auto;
            display: flex;
            overflow-x: scroll;
            gap: 2vw;

            div{
                height: 95vh;
                width: 100%;
                img{
                    border-radius: 3vh; 
                                  
                }       
                
            }   
        }
    }
    .content{
        height: auto;
        // padding-top: 15vh;
        margin-left: 8.2vw;
        margin-right: 8.2vw;
        .section2{
            height: 105vh;
            .sec2{
                margin-top: 20vh;
                margin-bottom: 20vh;
                height: auto;
                display: flex;
                justify-content: center;
                gap: 2.5vw;
                div{
                    height: 77vh;
                    width: 50%;
                    img{
                        border-radius: 2vh;
                    }
                    
                }
            }
        }
        .section3{
            
            .sec3{
                margin-top: 20vh;
                margin-bottom: 20vh;
                display: flex;
                justify-content: center;
                gap: 2.5vw;
                a{
                    height: 110vh;
                    width: 50%;
                    background-color: white;
                    border-radius: 2vh;
                    overflow: hidden;
                    text-decoration: none;
                    color: black;
                    img{
                        width: 100%;
                    }
                    div{
                        margin: 3vh;
                        margin-left: 3vw;
                    }
                    
                }
            }
        }
        .section5{
            margin-top: 20vh;
            margin-bottom: 20vh;
            .sec5{
                .row{
                    margin-top: 10vh;
                    margin-bottom: 5vh;
                    display: flex;
                    justify-content: center;
                    gap: 2vw;

                    div{
                        background-color: white;
                        padding-top: 3vh;
                        padding-left: 1.75vw;
                        height: 32vh;
                        width: 15vw;
                        img{
                            height: 26vh;
                        }
                    }
                }
            }
        }
    }

.heading{
    margin-top: 10vh;
    // margin-bottom: 10vh;
}

.btn{
    height: 6vh;
    width: 22vw;
    border: 2px solid black;
    border-radius: 3vh;
}

.view-btn{
    margin-left: 31vw;
    background-color: black;
    color: white;
    height: 6vh;
    width: 22vw;
    // border: 2px solid black;
    border-radius: 3vh;
}

// description ---------------------------------------------------------------------------------------
    .discription{
        font-size: 19px;
    }

}



#footer{
    padding-left: 8.4vw;
    padding-right: 8.4vw;
    height: 100vh;
    background-color: black;
    color: white;
    .footer1{
        padding-top: 10.5vh;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 7vh;
    }
    .footer2{
        margin-top: 3vw;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 7vh;
        ul{
            list-style: none;
            .f2head{
                font-size: smaller;
                color: beige;
            }
            li{
                line-height: 5.2vh;
                font-size: large;
                font-weight: bold;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .appicon{
            display: flex;
            gap: 1.3vw;   
        }

    }
    .footer3{
        margin-top: 8vh;
        text-align: right;
    }

}


.fbtn{
    height: 6vh;
    width: 15vw;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 3vh;
}